<form class="form-signin" role="form">
  <h2 class="form-signin-heading">Please sign in</h2>

  <div class="alert alert-danger" ng-show="error !== null">{{error}}</div>

  <input type="email" class="form-control" ng-model="credentials.emailAddress" placeholder="Email address" required autofocus>
  <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>

  <label class="checkbox">
    <input type="checkbox" ng-model="rememberMe">Remember me
  </label>

  <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login(credentials)">Sign in</button>
</form>
